* {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main {
    border: 0px solid black;
    width: 40%; height: 580px;
    margin-top: 70px; margin-left: 30%;
    display: flex;
}
.main .left {
    border: 0px solid red;
    width: 53%; height: 100%;
}
.main .left:first-child #bigInstar{
    transform: translateX(-10%);
    width: 120%; height: 107%;
}
.main .right {
    width: 47%; height: 100%;
}
.main .right .tab {
    width: 100%; height: 100%;
    border: 0px solid black;
}
.main .right .tab tr .a {
    width: 100%; height: 75%;
    border: 1px solid #dbdbdb;
}
.main .right .tab tr .a div {
    width: 76%; height: 10%; line-height: 30px;
    text-align: center;
    margin-left: 12%;
    border: 0px solid black;
}
.main .right .tab tr .a div:first-child {
    margin-top: 0; margin-left: 25%; margin-bottom: 30px;
    width: 50%; height: 20%;
    border: 0;
    cursor: pointer;
}
.main .right .tab tr .a div:first-child #instar {
    width: 100%; height: 100%;
}
.main .right .tab tr .a div:nth-child(2) {
    text-align: left; text-indent: 10px;
    font-size: 12px;
    height: 8%;
    color: #737373;
    border: 1px solid #dbdbdb;
}
.main .right .tab tr .a div:nth-child(3) {
    text-align: left; text-indent: 10px;
    font-size: 12px;
    height: 8%;
    color: #737373;
    border: 1px solid #dbdbdb;
    margin-top: 5px;
}
.main .right .tab tr .a div:nth-child(4) {
    height: 8%; line-height: 32px;
    color: white;
    background: #4cb5f9;
    border-radius: 8px;
    margin-top: 10px;
    font-size: 13px; font-weight: bold;
    cursor: pointer;
}
.main .right .tab tr .a div:nth-child(5) {
    height: 13%; line-height: 80px;
    margin-top: 20px;
    color: #385185;
    font-family: sans-serif; font-size: 13px; font-weight: bolder;
    border-top: 1px solid #dbdbdb;
    cursor: pointer;
}
.main .right .tab tr .a div:nth-child(6) {
    height: 5%;
    margin-bottom: 10px; margin-top: 20px;
    font-size: 12px;
    cursor: pointer;
}
.main .right .tab tr .a .middle {
    top: 41%; left: 47.3%;
    position: absolute;
    width: 50px; height: 20px; line-height: 20px;
    border: 1px solid white;
    background: white;
    font-size: 12px;;
}
.main .right .tab tr .b {
    width: 100%; height: 10%;
    border: 1px solid #dbdbdb;
}
.main .right .tab tr .b span {
    border: 0px solid black;
    font-size: 14px;
}
.main .right .tab tr .b #fspan {
    margin-left: 70px;
}
.main .right .tab tr .b #sspan {
    margin-left: 5px;
    color: #00a2f8;
    font-weight: bold;
    cursor: pointer;
}
.main .right .tab tr .c {
    width: 100%; height: 5%;
    border: 0px solid #dbdbdb;
    font-size: 12px;
}
.main .right .tab tr .c p {
    width: 40%;
    border: 0px solid black;
    margin: 0 auto;
    text-align: center;
}
.main .right .tab tr .d {
    width: 100%; height: 10%;
    border: 0px solid #dbdbdb;
    display: flex;
    justify-content: center;
}
.main .right .tab tr .d div {
    border: 0px solid black;
    cursor: pointer;
}
.main .right .tab tr .d div:first-child {
    background: url(img/googleplay.png);
    background-size: 100% 100%;
    width: 130px; height: 35px;
}
.main .right .tab tr .d div:last-child {
    background: url(img/microsoft.png);
    background-size: 100% 100%;
    margin-left: 10px;
    width: 100px; height: 35px;
}
.select {
    top: 9%; left: 70%;
    position: absolute;
    border: 1px dashed #dbdbdb;
    width: 40px; height: 90px;
}
.select div {
    width: 100%; height: 40px;
}
.select div:first-child {
    background: url(img/instaricon.png);
    background-size: 100% 100%;
}
.select div:last-child {
    margin-top: 10px;
    background: url(img/facebookicon.jpg);
    background-size: 100% 100%;
}