/* ---------------css 시작-------------- */
* {
  margin: 0; padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.pic {
  width: 500px; height: 100px;
  border: 0px solid black;
  margin: 50px auto;
  display: flex;
  align-items: center;
}
.pic input {
  width: 100px;
  margin-left: 50px;
  font-size: 1.5rem;
}
.info {
  width: 500px; height: 50px; line-height: 50px;
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}
.btn {
  position: absolute; top: 280px; left: 50%;
  transform: translateX(-50%);
  display: none;
}
.btn:hover {
  background: green;
  color: white;
}
.tap {
  position: relative; top: 0; left: 0;
  width: 500px; height: 150px;
  border: 1px solid black;
  margin-top: 100px; margin-left: 710px;
  display: none;
}
.tap div {
  position: absolute; top: 0; left: 0;
  width: 100%; height: 100%;
  display: none;
}