*{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    width: 100%; height: 500px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}
ul li {
    width: 18%; height: 100%;
    border: 1px solid red;
    margin-left: 1%;
}